@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap&subset=cyrillic');

.page__header {
    margin-bottom: 95px;
}

.header {
    background: #141434;
    border-bottom-left-radius: 500% 50%;
    border-bottom-right-radius: 500% 50%;
    background: url("img/header-bg.jpg") no-repeat 0 0;
}

.header__wrap {
    width: 960px;
    margin: auto;
}

.header__navigation {
    padding: 40px 80px 0 80px;
    margin-bottom: 160px;

    display: flex;
    align-items: center;
}

.logo:hover,
.logo:focus {
    outline: none;
    filter: blur(1px);
    opacity: 0.8; 
}

.header__logo {
    margin-right: auto;
}

.header_font_style {
    text-transform: uppercase;
    font-family: Roboto, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    color: #fff;
}

.main_font_style {
    font-family: Roboto, Helvetica, sans-serif;
}


.footer_font_style {
    font-family: Roboto, Helvetica, sans-serif;
    letter-spacing: 0.1em;
}

.call-number_font_style {
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    transition: color 0.3s;
}

.call-number_underline {
    border-bottom: 1px solid #fff;
    transition: all 0.3s;
}

.call-number:hover,
.call-number:focus {
    outline: none;
    color: #ac0042;
}

.call-number_underline:hover,
.call-number_underline:focus {
    border-bottom: 1px solid #ac0042;
}

.user-navigation {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

.user-navigation__item {
    margin-left: 85px;
}

.list__item_font_style {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
    transition: color 0.3s;
}

.list__item_underline {
    border-bottom: 1px solid #fff;
    transition: all 0.3s;
}

.list__item_underline:hover,
.list__item_underline:focus{
    border-bottom: 1px solid #ac0042;
}


.list__item:hover,
.list__item:focus {
    outline: none;
    color: #ac0042;
}

.header__caption {
    margin-bottom: 60px;
}

.caption {
    position: relative;
    text-align: center;
}

.caption_icon::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 50%;
    margin-left: -31px;

    width: 62px;
    height: 55px;

    background: url("img/cloud-phone.png") no-repeat 0 0;
}

.caption_font_style {
    font-weight: lighter;
    font-size: 60px;
    line-height: 72px;
    color: #fff;
}

.caption_font_highlight {
    font-size: 72px;
    font-weight: bold;
    color: #ac0042;
}

.header__subtitle {
    margin-bottom: 80px;
}

.subtitle {
    position: relative;
    text-align: center;
}

.subtitle_underline::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -50px;

    width: 100px;
    
    border-bottom: 2px solid #fff;
    opacity: 0.5;
}

.subtitle_font_style {
    font-size: 30px;
    opacity: 0.6;
}

.header__form {
    padding-bottom: 150px;
}

.callback-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.callback-form__input {
    width: 300px;
    height: 50px;
        
    box-sizing: border-box;
    border-radius: 25px;
    opacity: 0.8;
}


.callback-form__input_padding {
    padding-left: 30px;
}

.callback-form__input_ph_style::placeholder {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
}

.callback-form__input_font_style {
    font-size: 20px;
    color: #fff;
}

.callback-form__input_light_bg {
    background-color: rgba(224, 224, 245, 0.35);
    border: 1px solid #9eabc5;
    color: #141434;
}

.callback-form__input_light_bg:hover,
.callback-form__input_light_bg:focus {
    outline: none;
    background-color: #d7dbe2;
    border: 1px solid #141434;
    opacity: 0.5;
}

.callback-form__input_light_bg::placeholder {
    color: #888888;
}

.callback-form__input_light_bg:hover::placeholder {
    color: #141434;
}

.callback-form__input_dark_bg {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #f6f7f9;
}

.callback-form__input_dark_bg:hover,
.callback-form__input_dark_bg:focus {
    outline: none;
    opacity: 0.9;
}

.callback-form__input_dark_bg::placeholder {
    color: #fff;
}

.call-btn {
    width: 300px;
    height: 50px;
    background-color: #ac0042;

    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 16px rgba(23, 2, 37, 0.45);
    box-sizing: border-box;

    text-transform: uppercase;
    font-family: Roboto, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    font-size: 20px;
    color: #fff;

    transition: all 0.3s;
}

.call-btn:hover,
.call-btn:focus {
    outline: none;
    background-color: #fff;
    color: #ac0042;
}

.call-btn:active {
    transform: scale(0.95);
}

.section__button {
    display: flex;
    justify-content: center;
}

.main__section {
    margin-bottom: 100px;
}

.main__wrap {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section__form-down {
    display: flex;
    justify-content: space-between;

    width: 960px;
    margin: auto;
    margin-bottom: 55px;
}

.section__title {
    margin-bottom: 60px;
}

.section__title_font_style {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #2e1f3b;
}

.section__title_lineup {
    position: relative;
    padding-top: 95px;
}

.section__title_lineup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid #2e1f3b;
    opacity: 0.2;
}

.section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.use-list_mb {
    margin-bottom: 85px;
}

.center-list_mb {
    margin-bottom: 75px;
}

.section__item {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 218px;
    text-align: center;
}


.section__item_font_style {
    font-size: 16px;
    color: #2e1f3b;
}

.item_box_theme {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 300px;

    border: none;
    border-radius: 15px;
    box-shadow: 0 0 25px 0 rgba(54, 183, 253, 0.25);
    background-color: #2b2b65;
}

.item__title {
    position: relative;
    padding-top: 150px;
}

.item__title_img_buy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -52px;
    width: 104px;
    height: 120px;
    
    background: url("img/icon-buy.png") no-repeat 0 0;
}

.item__title_img_reminder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -53px;
    width: 106px;
    height: 121px;
    
    background: url("img/icon-reminder.png") no-repeat 0 0;
}

.item__title_img_notice::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -53px;
    width: 106px;
    height: 121px;
    
    background: url("img/icon-notice.png") no-repeat 0 0;
}

.item__title_img_poll::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -53px;
    width: 106px;
    height: 121px;
    
    background: url("img/icon-poll.png") no-repeat 0 0;
}

.item__title_img_hex::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -47px;
    width: 94px;
    height: 110px;
    
    background: url("img/icon-hexagon.png") no-repeat 0 0;
}

.item__title_img_gift::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -35px;
    width: 69px;
    height: 79px;
    
    background: url("img/icon-gift.png") no-repeat 0 0;
}

.item__title_img_grow::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -35px;
    width: 69px;
    height: 79px;
    
    background: url("img/icon-grow.png") no-repeat 0 0;
}


.item__title_img_call::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -35px;
    width: 69px;
    height: 79px;
    
    background: url("img/icon-call.png") no-repeat 0 0;
}

.item__title_img_omnich::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -36px;
    width: 73px;
    height: 85px;
    
    background: url("img/icon-omnich.png") no-repeat 0 0;
}

.item__title_img_vats::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -36px;
    width: 73px;
    height: 85px;
    
    background: url("img/icon-vats.png") no-repeat 0 0;
}

.item__title_img_vnumber::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -36px;
    width: 73px;
    height: 85px;
    
    background: url("img/icon-vnumber.png") no-repeat 0 0;
}

.item__title_img_integr::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -36px;
    width: 73px;
    height: 85px;
    
    background: url("img/icon-integration.png") no-repeat 0 0;
}


.item__title_font_style {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.item__descr {
    width: 215px;
}

.item__title_font_red {
    color: #ac0042;
}

.item__title_mb {
    margin-bottom: 20px;
}

.item__title_highlight {
    font-size: 24px;

} 

.section-center {
    position: relative;
    padding: 115px 0 100px 0;
    margin-bottom: 95px;
    background: #141434;
    border-bottom-left-radius: 500% 50%;
    border-bottom-right-radius: 500% 50%;
    border-top-left-radius: 500% 50%;
    border-top-right-radius: 500% 50%;
    background: url("img/body-bg.png") no-repeat 0 0;
}

.section-center_img::before {
    content: "";
    position: absolute;
    top: -235px;
    right: 45px;

    width: 455px;
    height: 325px;

    background: url("img/platform.png") no-repeat 0 0;
}

.section-center_img::after {
    content: "";
    position: absolute;
    top: 400px;
    right: 0;

    width: 843px;
    height: 990px;

    background: url("img/dots-bg.png") no-repeat 0 0;
    z-index: -1;
}

.section-more {
    position: relative;
    padding: 115px 0 100px 0;
    margin-bottom: 95px;
    background: #141434;
    border-bottom-left-radius: 500% 50%;
    border-bottom-right-radius: 500% 50%;
    border-top-left-radius: 500% 50%;
    border-top-right-radius: 500% 50%;
    background: url("img/footer-bg.png") no-repeat 0 0;
}

.section-more_img::before {
    content: "";
    position: absolute;
    top: -750px;
    left: -150px;

    width: 843px;
    height: 990px;

    background: url("img/dots-bg.png") no-repeat 0 0;
    transform: rotate(180deg);
    z-index: -1;
    
}


.section-more_mb {
    padding: 115px 0 125px 0;
    margin-bottom: 50px;
}

.section-more__list {
    width: 690px;
}

.section__title_font_white {
    color: #fff;
}

.section__item_font_white {
    color: #fff;
}

.item__title_font_bs {
    font-size: 24px;
}

.section__title__font_highlight {
    color: #ac0042;
}

.section-install__img {
    width: 963px;
    height: 533px;
    
    background: url("img/installation.jpg") no-repeat 0 0;
}

.section__client-list {
    margin-bottom: 10px;
}

.client-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.client-list__item {
    position: relative;
    width: 320px;
    margin-bottom: 75px;
    margin-right: 0;
}

.client-list__img {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.client-list__img:hover {
    opacity: 1;
}
.footer {
    background-color: #141434;
    border: none;
    border-top-left-radius: 400% 550%;
    border-top-right-radius: 400% 550%;

    padding-bottom: 1px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 960px;
    margin: auto;
    margin-bottom: 30px;
    padding: 60px 0 0 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 250px;
}

.footer-links__link {
    display: block;
}

.footer-links_icon_call {
    position: relative;
}

.footer-links_icon_call::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -40px;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: #fff;
}

.footer-links_icon_call::after {
    content: "";
    position: absolute;
    top: 0;
    left: -34px;

    width: 18px;
    height: 18px;

   
    background: url("img/icon-phone.png") no-repeat 0 0;
}

.call-number_decor_none {
    text-decoration: none;
}

.email_font_style {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.email:hover,
.email:focus {
    outline: none;
    color: #ac0042;
}

.footer-links_icon_email {
    outline: none;
    position: relative;
}

.footer-links_icon_email::before {
    content: "";
    position: absolute;
    bottom: 18px;
    top: 3px;
    left: -25px;

    width: 18px;
    height: 18px;

   
    background: url("img/icon-mail.png") no-repeat 0 0;
}